In [3]:
import pandas as pd

df = pd.read_csv('../fact/words.csv')

In [16]:
df.sort_values('latio_pos', ascending=False).head(50)

             term  neg  pos  neg_and_pos  latio_pos
2459       bomber    1   61           62   0.983871
3401    hiroshima    1   60           61   0.983607
3273     malaysia    1   46           47   0.978723
3638        spill    1   41           42   0.976190
359       suspect    1   36           37   0.972973
2488      bombing    2   70           72   0.972222
2199        saudi    1   35           36   0.972222
3342      rescuer    1   34           35   0.971429
789      affected    1   32           33   0.969697
3702      reunion    1   31           32   0.968750
2592       killed    3   92           95   0.968421
1354   california    3   88           91   0.967033
3228      typhoon    1   29           30   0.966667
278        atomic    2   56           58   0.965517
1579     wildfire    2   54           56   0.964286
2551          sue    1   27           28   0.964286
2177     declares    1   26           27   0.962963
216          crew    1   24           25   0.960000
2634   helicopter    1   24           25   0.960000
3699    swallowed    1   24           25   0.960000
608       warning    2   48           50   0.960000
1341          pm:    1   23           24   0.958333
430     searching    1   23           24   0.958333
3474     aircraft    1   22           23   0.956522
1096       expert    1   21           22   0.954545
3582       crisis    1   20           21   0.952381
110           #??    1   19           20   0.950000
1913           70    2   38           40   0.950000
1522       flight    1   18           19   0.947368
899      soudelor    1   18           19   0.947368
1035       temple    1   18           19   0.947368
2863       'we're    1   18           19   0.947368
2482        mount    1   18           19   0.947368
3413  anniversary    2   33           35   0.942857
1744       pamela    1   15           16   0.937500
2987          rly    1   15           16   0.937500
3238      landing    1   15           16   0.937500
1219    passenger    1   15           16   0.937500
1047       fires.    1   15           16   0.937500
1563      suicide    7  103          110   0.936364
703         razed    2   29           31   0.935484
1201        12000    1   14           15   0.933333
1054       gunman    1   14           15   0.933333
3580       terror    1   13           14   0.928571
3179         york    1   13           14   0.928571
3205      alabama    1   13           14   0.928571
2313          mph    1   12           13   0.923077
536        bigger    2   23           25   0.920000
3170        pilot    1   11           12   0.916667
2505     richmond    1   11           12   0.916667

In [17]:
df[df.term == 'save']

      term  neg  pos  neg_and_pos  latio_pos
1912  save   21   14           35        0.4

In [8]:
from nltk.corpus import wordnet
syns = wordnet.synsets("carried")
print(syns)

[]

In [11]:
df_biterms = pd.read_csv('../fact/biterms.csv')

In [15]:
df_biterms.sort_values('latio_pos', ascending=False).head(50)

                  term  neg  pos  neg_and_pos  latio_pos
11532        for-obama    1   85           86   0.988372
4590    bomber-suicide    1   68           69   0.985507
14332       atomic-the    1   67           68   0.985294
28464      a-swallowed    1   48           49   0.979592
29395  anniversary-the    1   46           47   0.978723
282       declares-for    1   44           45   0.977778
30829        oil-spill    1   42           43   0.976744
19375         boy-with    1   42           43   0.976744
8418          fatal-of    1   41           42   0.976190
5158      the-wildfire    1   40           41   0.975610
17961   anniversary-of    1   39           40   0.975000
8947            --home    1   37           38   0.973684
1199        in-suicide    2   73           75   0.973333
3586           in-kill    1   36           37   0.972973
11614        japan-the    1   36           37   0.972973
12722          by-home    1   32           33   0.969697
24078      affected-to    1   30           31   0.967742
30985          70-year    1   30           31   0.967742
10248       home-razed    1   29           30   0.966667
32876           a-boat    1   29           30   0.966667
15909           sue-to    1   29           30   0.966667
31052        in-killed    3   85           88   0.965909
387           oil-than    1   28           29   0.965517
10767          old-who    1   28           29   0.965517
11014      affected-of    1   28           29   0.965517
8341       affected-by    1   27           28   0.964286
24372        by-family    2   53           55   0.963636
18425       spill-than    1   26           27   0.962963
22849      family-over    2   51           53   0.962264
23211        more-over    1   25           26   0.961538
10790       this-watch    1   25           26   0.961538
6757      in-swallowed    1   24           25   0.960000
21543           boy-of    1   24           25   0.960000
19582        get-under    1   24           25   0.960000
3725        get-minute    1   24           25   0.960000
15519         in-saudi    1   24           25   0.960000
13396     charged-with    2   47           49   0.959184
29963            i-rly    1   23           24   0.958333
6332     for-searching    1   23           24   0.958333
25330      for-warning    1   22           23   0.956522
27596   killed-wounded    1   22           23   0.956522
29375       fatal-with    1   21           22   0.954545
8149      of-searching    1   21           22   0.954545
4639     helicopter-in    1   21           22   0.954545
5210          in-least    1   21           22   0.954545
11701     family-those    1   21           22   0.954545
16199          bomb-in    2   41           43   0.953488
26757           an-boy    1   20           21   0.952381
22181     and-malaysia    1   20           21   0.952381
32139      for-hundred    1   19           20   0.950000